.w3-table tr td {
	vertical-align: middle !important;
}

.navbar {
	border: 0 !important;
	margin-bottom: 0 !important;
}

.top {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.topnavL2, .topnavL3 {
	width: 100%;
}

.topnavL2 a, .topnavL3 a {
	padding:4px 6px 4px 6px !important;
	border-bottom:none !important;
	display:inline-block;
}

.topnavL2 a:hover, .topnavL3 a:hover {
	border-bottom:none !important;
	text-decoration: none !important;
}

.topnavL2 {
	line-height: 1.0;
}

.topnavL3 {
	line-height: .8;
}

.dropdown-menu {
	padding: 0 !important;
}

.panel-heading {
	font-size: 20px;
}

.footer {
	height: 30px;
	font-size: 12px;
}

.footer .row {
	padding-top: 6px;
}

.navbar-fixed-top .navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
}

.underline {
	text-decoration: underline;
}

@media (max-width:601px) {
	.topnavsub {
		display:none !important
	}
}

font-awesome {
	font-family: 'FontAwesome', Arial;
}

.search-div {
	height: 34px;
}

.search {
	height: 32px;
	margin-top: 2px;
	padding-left: 8px;
}

#search_icon {
	position: relative;
	z-index: 1;
	margin-left: -25px;
	margin-top: -4px;
}

.fieldset {
	margin: 15px 2px;
	padding: 0 0.625em 0;
}

.fieldset legend {
	width:inherit;
	padding:0 10px;
	border-bottom:none;
	font-size: 15px;
	font-weight: bold;
}

.round-xlarge-top {
	border-radius: 16px 16px 0px 0px;
}

.round-xlarge-bottom {
	border-radius: 0px 0px 16px 16px;
}

.footer-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.checkbox-label {
  font-weight: bold;
}

/**
 * Bootstrap Select overrides
 */

.dropdown-menu > li > a {
	white-space: normal;
}

/**
 * Fonts
 */

.amber {
	color:#ffc107 !important;
}

.black {
	color:#000 !important;
}

.blue-grey {
	color:#607d8b !important;
}

.blue {
	color:#2196F3 !important;
}

.brown {
	color:#795548 !important;
}

.cyan {
	color:#0097a7 !important;
}

.dark-grey {
	color:#3a3a3a !important;
}

.deep-orange {
	color:#ff5722 !important;
}

.deep-purple {
	color:#673ab7 !important;
}

.green {
	color:#4CAF50 !important;
}

.grey {
	color:#757575 !important;
}

.ice {
	color:#639dde !important;
}

.indigo {
	color:#1a237e !important;
}

.khaki {
	color:#b4aa50 !important;
}

.light-blue {
	color:#87CEEB !important;
}

.light-green {
	color:#8bc34a !important;
}

.lime {
	color:#cddc39 !important;
}

.neon-green {
	color:#42ff91 !important;
}

.orange {
	color:#ff9800 !important;
}

.pink {
	color:#e91e63 !important;
}

.purple {
	color:#9c27b0 !important;
}

.red {
	color:#F44336 !important;
}

.teal {
	color:#009688 !important;
}

.turquoise-island {
	color:#00ffff !important;
}

.yellow {
	color:#d2be0e !important;
}

/**
 * Fonts
 */

.arial {
	font-family: Arial, Helvetica, sans-serif !important;
}

.century-gothic {
	font-family: 'Century Gothic', sans-serif !important;
}

.comic-sans {
	font-family: 'Comic Sans MS', sans-serif !important;
}

.copperplate {
	font-family: 'Copperplate', 'Copperplate Gothic Light', sans-serif !important;
}

.georgia {
	font-family: Georgia, serif !important;
}

.impact {
	font-family: Impact, Charcoal, sans-serif; !important;
}

.lucida {
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif !important;
}

.palantino {
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif !important;
}

.tahoma {
	font-family: Tahoma, Geneva, sans-serif !important;
}

.times {
	font-family: 'Times New Roman', Times, serif !important;
}

.verdana {
	font-family: Verdana, Geneva, sans-serif !important;
}
