html, body {
	font-family: Impact, Charcoal, sans-serif; !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Impact, Charcoal, sans-serif; !important;
}
.w3-slim, .w3-wide {
	font-family: Impact, Charcoal, sans-serif; !important;
}
