.w3-theme,.w3-hover-theme:hover {color:#fff !important;background-color:#673ab7 !important}
.w3-theme-light,.w3-hover-theme-light:hover {color:#000 !important;background-color:#ede7f6 !important}
.w3-theme-dark,.w3-hover-theme-dark:hover {color:#fff !important;background-color:#311b92 !important}
.w3-text-theme {color:#673ab7 !important}
.w3-theme-l5,.w3-hover-theme-l5:hover {color:#000 !important;background-color:#ede7f6 !important}
.w3-theme-l4,.w3-hover-theme-l4:hover {color:#000 !important;background-color:#d1c4e9 !important}
.w3-theme-l3,.w3-hover-theme-l3:hover {color:#000 !important;background-color:#b39ddb !important}
.w3-theme-l2,.w3-hover-theme-l2:hover {color:#fff !important;background-color:#9575cd !important}
.w3-theme-l1,.w3-hover-theme-l1:hover {color:#fff !important;background-color:#7e57c2 !important}
.w3-theme-d1,.w3-hover-theme-d1:hover {color:#fff !important;background-color:#5e35b1 !important}
.w3-theme-d2,.w3-hover-theme-d2:hover {color:#fff !important;background-color:#512da8 !important}
.w3-theme-d3,.w3-hover-theme-d3:hover {color:#fff !important;background-color:#4527a0 !important}
.w3-theme-d4,.w3-hover-theme-d4:hover {color:#fff !important;background-color:#311b92 !important}
.w3-theme-action {color:#fff !important;background-color:#4527a0 !important}
