.w3-theme,.w3-hover-theme:hover {color:#fff !important;background-color:#9c27b0 !important}
.w3-theme-light,.w3-hover-theme-light:hover {color:#000 !important;background-color:#f3e5f5 !important}
.w3-theme-dark,.w3-hover-theme-dark:hover {color:#fff !important;background-color:#4a148c !important}
.w3-text-theme {color:#9c27b0 !important}
.w3-theme-l5,.w3-hover-theme-l5:hover {color:#000 !important;background-color:#f3e5f5 !important}
.w3-theme-l4,.w3-hover-theme-l4:hover {color:#000 !important;background-color:#e1bee7 !important}
.w3-theme-l3,.w3-hover-theme-l3:hover {color:#000 !important;background-color:#ce93d8 !important}
.w3-theme-l2,.w3-hover-theme-l2:hover {color:#fff !important;background-color:#ba68c8 !important}
.w3-theme-l1,.w3-hover-theme-l1:hover {color:#fff !important;background-color:#ab47bc !important}
.w3-theme-d1,.w3-hover-theme-d1:hover {color:#fff !important;background-color:#8e24aa !important}
.w3-theme-d2,.w3-hover-theme-d2:hover {color:#fff !important;background-color:#7b1fa2 !important}
.w3-theme-d3,.w3-hover-theme-d3:hover {color:#fff !important;background-color:#6a1b9a !important}
.w3-theme-d4,.w3-hover-theme-d4:hover {color:#fff !important;background-color:#4a148c !important}
.w3-theme-action {color:#fff !important;background-color:#6a1b9a !important}
