.w3-theme,.w3-hover-theme:hover {color:#fff !important;background-color:#607d8b !important}
.w3-theme-light,.w3-hover-theme-light:hover {color:#000 !important;background-color:#eceff1 !important}
.w3-theme-dark,.w3-hover-theme-dark:hover {color:#fff !important;background-color:#263238 !important}
.w3-text-theme {color:#607d8b !important}
.w3-theme-l5,.w3-hover-theme-l5:hover {color:#000 !important;background-color:#eceff1 !important}
.w3-theme-l4,.w3-hover-theme-l4:hover {color:#000 !important;background-color:#cfd8dc !important}
.w3-theme-l3,.w3-hover-theme-l3:hover {color:#000 !important;background-color:#b0bec5 !important}
.w3-theme-l2,.w3-hover-theme-l2:hover {color:#000 !important;background-color:#90a4ae !important}
.w3-theme-l1,.w3-hover-theme-l1:hover {color:#fff !important;background-color:#78909c !important}
.w3-theme-d1,.w3-hover-theme-d1:hover {color:#fff !important;background-color:#546e7a !important}
.w3-theme-d2,.w3-hover-theme-d2:hover {color:#fff !important;background-color:#455a64 !important}
.w3-theme-d3,.w3-hover-theme-d3:hover {color:#fff !important;background-color:#37474f !important}
.w3-theme-d4,.w3-hover-theme-d4:hover {color:#fff !important;background-color:#263238 !important}
.w3-theme-action {color:#fff !important;background-color:#37474f !important}
