html, body {
	font-family: Verdana, Geneva, sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif !important;
}
.w3-slim, .w3-wide {
	font-family: Verdana, Geneva, sans-serif !important;
}
